<form method="POST">
<input id="phone" name="phone" placeholder="Phone">
<button type="button" onclick="fetchFarmer()">Fetch</button><br>

<input id="name" name="name" placeholder="Name">
<input id="address" name="address" placeholder="Address"><br>

<input name="tractor" placeholder="Tractor">
<input name="trip" placeholder="Trip"><br>

<input name="driver_name" placeholder="Driver Name">
<input name="driver_phone" placeholder="Driver Phone"><br>

<button type="submit">Submit</button>
</form>

<table>
<tr>
<th>ID</th>
<th>Name</th>
<th>Phone</th>
<th>Tractor</th>
<th>Trip</th>
</tr>

{% for row in data %}
<tr>
<td>{{row[0]}}</td>
<td>{{row[2]}}</td>
<td>{{row[1]}}</td>
<td>{{row[4]}}</td>
<td>{{row[5]}}</td>
</tr>
{% endfor %}
</table>
