<!DOCTYPE html>
<html>
<head>
<title>Farmer Dashboard</title>

<style>
body{
margin:0;
font-family:Arial;
background:linear-gradient(#11998e,#38ef7d);
color:white;
}

.container{
width:70%;
margin:30px auto;
text-align:center;
}

.table-box{
background:white;
color:black;
padding:20px;
border-radius:10px;
}

table{
width:100%;
border-collapse:collapse;
}

th{
background:#16a085;
color:white;
padding:10px;
}

td{
padding:10px;
text-align:center;
}
</style>

</head>

<body>

<div class="container">

<!-- ✅ LOGOUT -->
<div style="text-align:right;">
    <a href="/logout">
        <button style="background:red;">Logout</button>
    </a>
</div>

<h2>Your Trips</h2>

<div class="table-box">
<table>
<tr>
<th>Tractor</th>
<th>Trip</th>
<th>Entry</th>
<th>Token</th>
<th>Time</th>
</tr>

{% for row in data %}
<tr>
<td>{{row[4]}}</td>
<td>{{row[5]}}</td>
<td>{{row[6]}}</td>
<td>{{row[7]}}</td>
<td>{{row[8]}}</td>
</tr>
{% endfor %}
</table>
</div>

</div>

</body>
</html>
