<!DOCTYPE html>
<html>
<head>
<title>Main Office</title>
  <style>
    body {
        margin: 0;
        font-family: Arial;

        background:
        linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
        url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7qQZyjG-ef27ploWXIZ4KNMhz100XO99sxA&s");

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
    }
    </style>
</head>

<body>

<h2>Main Office Dashboard</h2>

<a href="/logout">Logout</a>

<table border="1">
<tr>
<th>ID</th>
<th>Phone</th>
<th>Name</th>
<th>Address</th>
<th>Tractor</th>
<th>Trip</th>
</tr>

{% for row in data %}
<tr>
<td>{{row[0]}}</td>
<td>{{row[1]}}</td>
<td>{{row[2]}}</td>
<td>{{row[3]}}</td>
<td>{{row[4]}}</td>
<td>{{row[5]}}</td>
</tr>
{% endfor %}

</table>

</body>
</html>
