<!DOCTYPE html>
<html>
<head>
<title>Register</title>

<style>
body{
margin:0;
font-family:Arial;
background:linear-gradient(#00000088,#00000088),
url("https://images.unsplash.com/photo-1500382017468-9049fed747ef");
background-size:cover;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.box{
background:rgba(255,255,255,0.2);
padding:30px;
border-radius:10px;
color:white;
text-align:center;
}

input{
padding:10px;
margin:10px;
width:250px;
}

button{
padding:10px;
background:green;
color:white;
border:none;
}
</style>

</head>

<body>

<div class="box">
<h2>Register</h2>

<form method="POST">
<input name="name" placeholder="Name"><br>
<input name="phone" placeholder="Phone"><br>
<input name="address" placeholder="Address"><br>
<button>Register</button>
</form>

</div>

</body>
</html>
